@{
    ViewData["Title"] = "Home Page";
}

<style>
    p {
        margin-bottom: 0.5rem; /* Diminui o espaço entre os parágrafos */
    }
</style>

<div class="text-center" style="line-height: 1.4;">
    <h1 class="display-4">Projeto: Trilha .NET API - Desafio Gerenciador de Tarefas</h1>
    <p>
        Este projeto faz parte do desafio proposto na trilha .NET da Digital Innovation One e consiste em uma API desenvolvida utilizando ASP.NET Core com o propósito de gerenciar tarefas.
        O projeto foca em implementar operações CRUD (Create, Read, Update, Delete) para manipulação de tarefas, permitindo que os usuários criem, visualizem, atualizem e excluam registros.
    </p>
    <br />
    <h3>Principais Tecnologias Utilizadas</h3>
    <p><strong>ASP.NET Core</strong>: O framework principal para construir a API.</p>
    <p><strong>Entity Framework Core</strong>: Usado para manipular os dados da aplicação e interagir com o banco de dados.</p>
    <p><strong>SQL Server</strong>: Banco de dados utilizado para armazenar as informações das tarefas.</p>
    <p><strong>Swagger</strong>: Ferramenta integrada à aplicação para facilitar o teste e a documentação da API.</p>
    <br />
    <h3>Funcionalidades Implementadas</h3>
    <p><strong>Criação de Tarefas</strong>: Permite que o usuário crie novas tarefas fornecendo detalhes como título, descrição, data e status.</p>
    <p><strong>Listagem de Tarefas</strong>: Exibe todas as tarefas cadastradas, incluindo suas informações detalhadas.</p>
    <p><strong>Atualização de Tarefas</strong>: Permite modificar os detalhes de uma tarefa existente.</p>
    <p><strong>Exclusão de Tarefas</strong>: Remove uma tarefa do sistema.</p>
    <p><strong>Filtragem</strong>: Implementação de filtros para exibir tarefas com base em critérios como título ou status.</p>
    <br />
    <h3>Melhorias Adicionais</h3>
    <p><strong>Mudança do Modo Escuro/Claro</strong>: Implementada funcionalidade para alternar entre os modos escuro e claro, permitindo que o usuário escolha o tema que preferir.</p>
    <p><strong>Inserção de Ícones nos Botões</strong>: Ícones adicionados a vários botões da interface, utilizando o Font Awesome, para melhorar a usabilidade visual.</p>
    <p><strong>Mudanças no Layout e CSS</strong>: Diversas mudanças relacionadas a cores, posicionamento de elementos, estilização de botões, e modelagem do layout em geral foram realizadas para melhorar a experiência do usuário.</p>
    <p><strong>Mudanças no JavaScript</strong>: Ajustes e melhorias nas funcionalidades da aplicação, incluindo a alternância de tema e comportamento dinâmico de alguns componentes.</p>
    <br />
    <p>
        Este projeto visa demonstrar a construção de uma API RESTful em .NET e as boas práticas associadas ao desenvolvimento de aplicações web modernas.
        Para saber mais, veja o repositório no <a href="https://github.com/digitalinnovationone/trilha-net-api-desafio">GitHub</a>.
    </p>
</div>
