@{
    ViewData["Title"] = "Sobre Ítalo Spina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Olá, meu nome é Ítalo Spina, tenho 25 anos e atuo como DBA Oracle Jr. Atualmente, estou em transição para a área de desenvolvimento, com foco na linguagem .NET, onde tenho me dedicado nos últimos tempos.</p>

<p>Tenho formação em Ciência da Computação pela Universidade Paulista (UNIP) e experiência em administração de banco de dados, principalmente com Oracle, onde atuei na resolução de chamados, execução de backups com RMAN, e utilização de diversos bancos de dados como MongoDB, MySQL, e SQL Server. Além disso, possuo habilidades com Git, Unix, Windows, e ferramentas como Jira.</p>

<p>
    GitHub: <a href="https://github.com/italospina">https://github.com/italospina</a><br />
    LinkedIn: <a href="https://www.linkedin.com/in/italo-spina/">https://www.linkedin.com/in/italo-spina/</a>
</p>
